@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Utlities */
.bottom-line {
  height: 2px;
  width: 6rem;
  background: #c7000b;
  display: block;
  margin: 0 auto 1rem auto;
}

.top-line {
  height: 1px;
  width: 80%;
  background: #333;
  display: block;
  margin: 0 auto 1rem auto;
}

.center {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0 30px;
  min-width: 140px;
  height: 38px !important;
  line-height: 30px !important;
  text-align: center;
  border: 1px solid #111;
  display: inline-block;
  color: #111;
  font-size: 1.1rem;
  font-family: inherit;
  background: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #c7000b;
  color: #fff;
  transform: scale(0.98);
  border: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', 'sans-serif';
  line-height: 1.6;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-top: 8px;
  text-transform: uppercase;
  padding-right: 35px;
}

#navbar ul li a {
  padding: 5px;
}

#navbar ul li a:hover {
  border-bottom: 2px solid #c7000b;
}

/* JS animation */
.clicked {
}

#navbar .logo span {
  color: #c7000b;
  padding: 0.2rem;
  animation: spin 4s linear infinite;
}

#navbar .logo {
  font-size: 1.8rem;
  padding: 1rem;
  text-transform: uppercase;
}

/* Showcase */
#showcase {
  background: url('images/flower2.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  margin-top: 1px;
  position: relative;
}

#showcase .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.1);
}

#showcase .content .bottom-line {
  width: 26rem;
}

#showcase .content h1 {
  font-size: 2.5rem;
}

#showcase .content p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 5px 0 30px;
}

#showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#showcase * {
  z-index: 1;
}

/* New */
#new {
  padding: 20px;
}
#new .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#new .container h2 {
  font-size: 1.7rem;
  padding: 8px;
}

#new .container .product {
  background: url('images/phone.jpg') no-repeat center center/cover;
  height: 90vh;
  width: 95%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* Grid */

#grid {
  padding: 20px;
}
#grid .container img {
  height: 275px;
  width: 375px;
}

#grid .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  padding-top: 20px;
}

#grid .grid-item {
  margin: auto;
  text-align: center;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#grid .container .grid-item h3 {
  font-size: 1.5rem;
}

#grid .container .grid-item p {
  font-size: 1.1rem;
}

/* Banner */
#banner {
  background: url('images/greece.jpeg') no-repeat center center/cover;
  height: 65vh;
  color: #fff;
  position: relative;
}

#banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50;
  left: 100;
}

#banner .banner-content .bottom-line {
  width: 26rem;
}

#banner .banner-content h2 {
  font-size: 1.3rem;
}

#banner .banner-content p {
  font-size: 1rem;
  padding-bottom: 13px;
}

#banner .banner-content .btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

#banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#banner * {
  z-index: 1;
}

/* News */
#news .news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Events */
#events .container {
  padding: 20px;
}
#events .container .events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 1rem;
}

#events .event-item {
  margin: auto;
  text-align: center;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#events .container .events img {
  width: 100%;
  height: 200px;
}

#events .container .events h4 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

#events .container .events .lead {
  font-size: 1.2rem;
  padding: 0.2rem;
}

#events .container .events i {
  color: #c7000b;
  font-size: 1.2rem;
}

#events .container .events p {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem;
}

/* Footer */
#footer {
  background-color: #f2f2f2;
}

#footer input {
  padding: 5px;
  width: 80%;
  outline: none;
}

/* Hotlinks */
#footer .hot-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  padding: 10px 0 10px 65px;
}

#footer .hot-links .hot-link {
  padding: 0.3rem;
}

#footer .hot-links .hot-link h3 {
  padding-bottom: 10px;
  font-size: 1rem;
}

#footer .hot-links .hot-link ul li {
  padding: 0.3rem;
  font-size: 0.9rem;
}

/* space-between */
#footer .space-between {
  padding: 0 15px;
}

#footer .space-between h3 {
  font-size: 1rem;
}

#footer .space-between i {
  color: #666;
  padding: 0.7rem;
}

#footer .space-between i:hover {
  color: #999;
}

/* Final footer */

#footer .final-footer {
  background: #e6e6e6;
}

#footer .final-footer p {
  font-size: 0.9rem;
}

#footer .final-footer ul li {
  display: inline-block;
  padding: 0 0.7rem;
  font-size: 0.9rem;
}

#footer .final-footer i {
  color: red;
}

@media (max-width: 790px) {
  #events .container .events {
    grid-template-columns: repeat(1, 1fr);
  }
  #grid .container {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer .hot-links {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  #events .container .events {
    grid-template-columns: repeat(1, 1fr);
  }

  #grid .container {
    grid-template-columns: repeat(1, 1fr);
  }

  #footer .hot-links {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 10px;
  }

  .space-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer .final-footer .center {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #navbar ul li {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 8px;
    text-transform: uppercase;
    padding-right: 10px;
  }
}

@media (max-width: 400px) {
  #showcase .content .bottom-line,
  #banner .banner-content .bottom-line {
    width: 20rem;
  }

  #navbar ul li {
    padding: 0.5rem;
    margin-top: 0px;
  }

  #navbar .logo {
    font-size: 1.3rem;
    padding: 1rem;
    text-transform: uppercase;
  }

  #grid .container img {
    height: 225px;
    width: 325px;
  }

  #footer .final-footer .center {
    padding: 15px;
  }

  .btn {
    font-size: 0.8rem;
    margin: 2px;
  }

  #showcase {
    background: url('images/flower2.jpg') no-repeat center center/cover;
    height: 75vh;
    color: #fff;
    margin-top: 1px;
    position: relative;
  }

  #showcase .content {
    height: 75%;
    padding: 0 20px;
  }
  #showcase .content h1 {
    font-size: 2rem;
  }
  #new .container .product {
    height: 70vh;
  }
  #banner .banner-content h2 {
    font-size: 1.2rem;
  }
  #banner .banner-content {
    height: 80%;
  }
  #banner {
    background: url('images/greece.jpeg') no-repeat center center/cover;
    height: 45vh;
    color: #fff;
    position: relative;
  }
}
